In [ ]:
import pandas as pd
x=pd.read_csv('airbnb_apartments.csv')

In [ ]:
# Import your libraries
# Ranking Hosts By Beds
# Rank each host based on the number of beds they have listed.
# The host with the most beds should be ranked 1 and the host with the least number of beds should be ranked last.
# Hosts that have the same number of beds should have the same rank.
# A host can also own multiple properties. 
# Output the host ID, number of beds, and rank from highest rank to lowest.


import pandas as pd
x.head()
df=x
df=df.groupby('host_id')['n_beds'].sum().reset_index()
df['rank']=df['n_beds'].rank(method='dense',ascending = False)
df.sort_values('rank',ascending = True)

In [ ]:
# Host Response Rates With Cleaning Fees
# Find the average host response rate with a cleaning fee for each zipcode. 
# Present the results as a percentage along with the zip code value. 
# Convert the following two columns while building the query to their true types using type casts and if 
# necessary string processing: 'cleaning_fee' from TEXT to BOOL and 'host_response_rate' from TEXT to NUMERIC (take missing values as NULL). 
# Order the result in ascending order based on the average host response rater after cleaning. 

y=pd.read_csv('airbnb_search_details.csv')
# Import your libraries
import pandas as pd

# Start writing code
df = y
df.host_response_rate = pd.to_numeric(df.host_response_rate.str.replace('%',''),errors='coerce')

cleaning = df[df.cleaning_fee]
cleaning.groupby('zipcode').host_response_rate.mean().sort_values().reset_index().dropna()

In [ ]:
y.info()

In [ ]:
# Guest Or Host Kindness
# Find whether hosts or guests give higher review scores based on their average review scores. 
# Output the higher of the average review score rounded to the 2nd decimal spot (e.g., 5.11).

w=pd.read_csv('airbnb_reviews.csv')
# Import your libraries
import pandas as pd

# Start writing code
 # Import your libraries
import pandas as pd

# Start writing code
df=w
print(df.groupby('from_type').review_score.mean().nlargest(1).round(2))
print('------------------------------------------------------------------')
print(df.groupby('from_type').review_score.mean())
print('------------------------------------------------------------------')

print(df.groupby('from_type').review_score.median())

In [ ]:

import numpy as np

guest_avg_df = df[df["from_type"] == "guest"][["from_type","review_score"]]
guest_avg = guest_avg_df.mean()

host_avg_df = df[df["from_type"] == "host"][["from_type","review_score"]]
host_avg = host_avg_df.mean()

round(host_avg,2) > round(guest_avg,2)

round(guest_avg,2)

In [ ]:
# Growth of Airbnb
# Estimate the growth of Airbnb each year using the number of hosts registered as the growth metric. 
# The rate of growth is calculated
# by taking ((number of hosts registered in the current year - number of hosts registered in the previous year) / the number of hosts registered in the previous year) * 100.
# Output the year, number of hosts in the current year, number of hosts in the previous year, and the rate of growth. 
# Round the rate of growth to the nearest percent and order the result in the ascending order based on the year.
# Assume that the dataset consists only of unique hosts, meaning there are no duplicate hosts listed.

# Import your libraries
import pandas as pd
import numpy as np

# -- Output
# |year|current_year|prev_year|estimated_growth|

# -- Conditions/Caveats
# 1. Calculate the annual growth rate of hosts
# 2. The number of hosts is count of rows, since unique 
# 3. Round to nearest pct, ascending by year

# -- Procedure:
# 1. Convert host_since to year
# 2. Group by year, count(*) for number of hosts
# 3. Shift current_year to get prev_year
# 4. Calculate growth rate
# 5. Round to nearest pct
# 6. Order in ascending by year

# Start writing code
# import pandas as pd
# df = airbnb_search_details
# df['year']=pd.to_datetime(df['host_since']).dt.year
# df = df.sort_values('year').groupby('year')['year'].agg(year='first',current_year='count')
# df['prev_year'] = df['current_year'].shift(1)
# df['estimated_growth']=round((df['current_year']-df['prev_year'])/df['prev_year']*100)
# df





y=pd.read_csv('airbnb_search_details.csv')
air=y
y.info()
y['host_since'] =  pd.to_datetime(y['host_since'] )

y

total_hosts = air.groupby(air.host_since.dt.year).size().to_frame()


total_hosts['lag'] = total_hosts.shift()
total_hosts['pct_change'] = total_hosts[0].pct_change().mul(100).round()
total_hosts.reset_index()

In [ ]:
# Find the number of unique properties
# Find how many the number of different property types in the dataset.  

y=pd.read_csv('airbnb_searches.csv')
  
y.info()
airbnb_searches=y 
df=airbnb_searches['filter_room_types'].str.split(',').explode().reset_index()
print(df)
result=df['filter_room_types'].unique() 
print(result)

In [ ]:
# Most Popular Room Types
# Find the room types that are searched by most people. 
# Output the room type alongside the number of searches for it. 
# Sort the result based on the number of searches in descending order.
# Import your libraries
import pandas as pd
airbnb_searches=pd.read_csv('airbnb_searches.csv')

# Start writing code
# airbnb_searches.groupby('filter_room_types').count().reset_index()
airbnb_searches['cleaned_filter'] = airbnb_searches['filter_room_types'].str.strip(',')
df=airbnb_searches 
df.groupby('cleaned_filter').sum().n_searches.reset_index().sort_values('n_searches', ascending=False)  


select trim(leading ',' from filter_room_types) ,sum(n_searches )from airbnb_searches
group by 1
order by 2 desc

In [ ]:
# Find the day of the week that most people check-in
# Find the day of the week that most people want to check-in.
# Output the day of the week alongside the corresponding check-incount.
# Order records based on the check-in count in descending order.
import pandas as pd
import numpy as np
airbnb_contacts=pd.read_csv('airbnb_contacts.csv')

airbnb_contacts.loc[:, 'ts_contact_at':'ds_checkout'] = airbnb_contacts.loc[:, 'ts_contact_at':'ds_checkout'].apply(pd.to_datetime)
airbnb_contacts['day_of_week'] = airbnb_contacts['ds_checkin'].dt.dayofweek
print(airbnb_contact s)

result = airbnb_contacts.groupby(['day_of_week']).size().to_frame('size').reset_index().sort_values(['size'], ascending=False).head(1)
result


# select EXTRACT(DOW FROM ds_checkin),count(*)
# from airbnb_contacts
# group by 1
# order by 2 desc
# limit 1

In [ ]:
# Find the average difference between booking and check-in dates
# Find the average number of days between the booking and check-in dates for AirBnB hosts.
# Order the results based on the average number of days in descending order.
# avg_days_between_booking_and_checkin DESC
import pandas as pd
import numpy as np

airbnb_contacts=pd.read_csv('airbnb_contacts.csv')
airbnb_contacts.loc[:, 'ts_contact_at':'ds_checkout'] = airbnb_contacts.loc[:, 'ts_contact_at':'ds_checkout'].apply(pd.to_datetime)
airbnb_contacts['ds_checkin'] = pd.to_datetime(airbnb_contacts["ds_checkin"].dt.strftime('%Y-%m-%d'))
airbnb_contacts['ts_booking_at'] = pd.to_datetime(airbnb_contacts["ts_booking_at"].dt.strftime('%Y-%m-%d'))

airbnb_contacts['avg_days_between_booking_and_checkin'] = (airbnb_contacts['ds_checkin'] - airbnb_contacts['ts_booking_at']).dt.days
result = airbnb_contacts.groupby(['id_host']).filter(lambda g: g['avg_days_between_booking_and_checkin'].mean() >= 0).groupby('id_host').mean().reset_index().sort_values('avg_days_between_booking_and_checkin',ascending = False)[['id_host','avg_days_between_booking_and_checkin']]
result

In [ ]:
# Import your libraries
import pandas as pd
import numpy as np
# Start writing code
df=airbnb_contacts

df['ds_checkin']=pd.to_datetime(df['ds_checkin']).dt.date
df['ts_booking_at']=pd.to_datetime(df['ts_booking_at']).dt.date

df['diff'] = (df['ds_checkin']-df['ts_booking_at']).dt.days
df.dropna(subset=['diff'], inplace=True)


df.groupby('id_host')['diff'].mean().reset_index().sort_values(by='diff', ascending=False)

In [ ]:
# Find matching reviewers in a way that each host is paired with a matching guest based on the given review scores
# Find matching reviewers in a way that each host is paired with a matching guest based on the given review scores.
#     ex: pair a guest reviewer who gave 1 with a host reviewer who gave the same score.
# Output host id, guest id, and the corresponding review score. Present distinct review scores only.
# Order recording by review score in descending order.


import pandas as pd
import numpy as np
airbnb_reviews=pd.read_csv('airbnb_reviews.csv')

hosts = airbnb_reviews[airbnb_reviews['from_type'] == 'host'][['from_user','review_score']].rename(columns = {'from_user':'host_id'})
guests = airbnb_reviews[airbnb_reviews['from_type'] == 'guest'][['from_user','review_score']].rename(columns = {'from_user':'guest_id','review_score':'g_review_score'})
merged_df = pd.merge(guests,hosts,left_on = 'g_review_score', right_on = 'review_score')
result = merged_df.drop_duplicates(subset = 'review_score').sort_values('g_review_score', ascending = False)[['host_id', 'guest_id', 'g_review_score']].rename(columns = {'g_review_score':'review_score'})
result







# with a as (select   from_user guest_id, review_score
# from airbnb_reviews
# where from_type='guest') ,
# b as (select   from_user host_id  ,review_score
# from airbnb_reviews
# where from_type='host') 
# select  distinct on (a.review_score)  host_id , guest_id,a.review_score
# from a join b on a.review_score=b.review_score
# order by 3 desc

In [ ]:
# Hosts' Abroad Apartments
# Find the number of hosts that have apartments in countries of which they are not citizens.
import pandas as pd
import numpy as np
airbnb_hosts=pd.read_csv('airbnb_hosts.csv')
airbnb_apartments=pd.read_csv('airbnb_apartments.csv')

import pandas as pd

merged = pd.merge(airbnb_hosts, airbnb_apartments, on='host_id')
merged = merged[merged['nationality'] != merged['country']]
result = merged['host_id'].nunique()
result





import numpy
import pandas as pd

df = pd.merge(airbnb_hosts, airbnb_apartments, how='inner', on='host_id')

df.loc[df['nationality'] != df['country'], 'host_id'].nunique()




SELECT
    COUNT(distinct h.host_id)
FROM
    airbnb_hosts h
 JOIN
    airbnb_apartments a
ON
    h.host_id = a.host_id AND
    h.nationality <> a.country
    
    
    
    select 
    count(distinct h.host_id) AS total_hosts
from airbnb_hosts h
inner join airbnb_apartments a
    on h.host_id = a.host_id
    -- and lower(a.apartment_type) = 'apartment'
    and lower(h.nationality) != lower(a.country)

In [ ]:
# Requests Acceptance Rate
# Find the acceptance rate of requests which is defined as the ratio of accepted contacts vs all contacts. Multiply the ratio by 100 to get the rate.



import pandas as pd
import numpy as np
airbnb_contacts=pd.read_csv('airbnb_contacts.csv')
 

result = 100* airbnb_contacts['ts_accepted_at'].count() / airbnb_contacts.shape[0]
result
# df.ts_accepted_at.notna().sum() / len(df) * 100


# SELECT 100.0*SUM(CASE
#                      WHEN ts_accepted_at IS NOT NULL THEN 1
#                      ELSE 0
#                  END)/COUNT(*) acceptance_rate
# FROM airbnb_contacts

# SELECT COUNT(ts_accepted_at) * 1.0 / COUNT(ts_contact_at) * 100 
# FROM airbnb_contacts;

In [ ]:
df = airbnb_contacts
df.ts_accepted_at.notna().sum() / len(df) * 100

In [ ]:
# Rank guests based on their ages
# Rank guests based on their ages.
# Output the guest id along with the corresponding rank.
# Order records by the age in descending order.



import pandas as pd
import numpy as np
airbnb_guests=pd.read_csv('airbnb_guests.csv')

 
airbnb_guests['rank'] = airbnb_guests['age'].rank(ascending = False)
airbnb_guests[['guest_id','rank']].sort_values('rank')
airbnb_guests


# select guest_id,age,rank()over(order by age desc)
# from airbnb_guests

# select guest_id,
# RANK() OVER(ORDER BY age desc) rank
# from airbnb_guests;

In [ ]:
# Find the total number of searches for houses Westlake neighborhood with a TV
# Find the total number of searches for houses in Westlake neighborhood with a TV among the amenities.
import pandas as pd
import numpy as np

airbnb_search_details=pd.read_csv('airbnb_search_details.csv')

conditions=airbnb_search_details[(airbnb_search_details['neighbourhood']=='Westlake')&(airbnb_search_details['property_type']=='House')&(airbnb_search_details['amenities'].str.contains("TV"))]
result = len(conditions)
result


# Start writing code
# len(airbnb_search_details[(airbnb_search_details['neighbourhood']=='Westlake') & (airbnb_search_details['property_type']=='House') &(airbnb_search_details['amenities'].str.contains('TV')) ])


# SELECT 
#    count(*) AS n_searches
# FROM airbnb_search_details
# WHERE 
#     neighbourhood = 'Westlake' AND 
#     property_type = 'House'    AND 
#     amenities LIKE '%TV%'



# SELECT COUNT(*) AS n_searches FROM airbnb_search_details
# WHERE property_type = 'House'
# AND neighbourhood = 'Westlake'
# AND amenities ILIKE '%TV%';

In [ ]:
# Find the total number of available beds per hosts' nationality
# Find the total number of available beds per hosts' nationality.
# Output the nationality along with the corresponding total number of available beds.
# Sort records by the total available beds in descending order.
import pandas as pd
import numpy as np


airbnb_apartments=pd.read_csv('airbnb_apartments.csv')
airbnb_hosts=pd.read_csv('airbnb_hosts.csv')

merged_df = pd.merge(airbnb_hosts, airbnb_apartments,  how='left', left_on=['host_id'], right_on = ['host_id'])
total_beds = merged_df.groupby(['nationality'])['n_beds'].sum().reset_index().sort_values('n_beds',ascending = False)
result = total_beds.rename(columns={"n_beds": "total_beds_available"})
result




# # Start writing code
# df = airbnb_apartments.merge(airbnb_hosts, on='host_id')
# df.groupby('nationality').agg(total_beds_available=('n_beds', 'sum')).reset_index().sort_values(by='total_beds_available', ascending=False)

In [ ]:
# Find the top ten hotels with the most positive reviews in summer (June-Aug)
# Find the top ten hotels with the most positive reviews in the summer (June-Aug) of 2017.
# Output the hotel name along with the corresponding number of positive reviews.
# Sort records based on the number of positive reviews in descending order.
import pandas as pd
import numpy as np


hotel_reviews =pd.read_csv('hotel_reviews.csv')
positive = hotel_reviews[hotel_reviews['positive_review'] !='No Positive']
positive['review_date'] = positive['review_date'].apply(pd.to_datetime)
filtered = positive[positive['review_date'].isin(pd.date_range('2017-06-01','2017-08-31'))]
result = filtered.groupby(['hotel_name'])['positive_review'].count().to_frame('n_positive_reviews').reset_index().sort_values('n_positive_reviews',ascending = False).head(10)
result

In [ ]:
# import pandas as pd
# import numpy as np
# from numpy import array
 

# hotel_reviews =pd.read_csv('hotel_reviews.csv')
# hotel_reviews.assign(month = lambda x: x['review_date'].apply(pd.to_datetime).dt.month ).assign(year = lambda x: x['review_date'].apply(pd.to_datetime).dt.year
#     ).query('month.isin([6, 7, 8]) & year == 2017'
#     ).query('positive_review != "No Positive"'
#     ).groupby(['hotel_name']).size().to_frame('n_pos_reviews'
#     ).reset_index()

In [ ]:
# Start writing code
no_po = hotel_reviews[hotel_reviews['positive_review'] !='No Positive']
no_po['review_date'] = no_po['review_date'].apply(pd.to_datetime)
filtered = no_po[no_po['review_date'].isin(pd.date_range('2017-06-01','2017-08-31'))]
result = filtered.groupby('hotel_name').positive_review.count().to_frame('cnt').reset_index().sort_values('cnt',ascending = False).head(10)

In [5]:
# Find the top ten hotels with the most negative reviews in summer (June-Aug)
# Find the top ten hotels with the most negative reviews in the summer of 2017 (June-Aug).
# Output the hotel name along with the corresponding number of negative reviews.
# Sort records based on the number of negative reviews in descending order.


import pandas as pd
import numpy as np
hotel_reviews =pd.read_csv('hotel_reviews.csv')
# print(hotel_reviews)
no_nega = hotel_reviews[hotel_reviews['negative_review'] !='No Negative']
no_nega['review_date'] = no_nega['review_date'].apply(pd.to_datetime)
filtered = no_nega[no_nega['review_date'].isin(pd.date_range('2017-06-01','2017-08-31'))]
result = filtered.groupby(['hotel_name'])['negative_review'].count().to_frame('n_negative_reviews').reset_index().sort_values('n_negative_reviews',ascending = False).head(10)
result


# SELECT      hotel_name,    count(negative_review) AS n_negative_reviews 
# FROM     hotel_reviews 
# WHERE 
#     negative_review <> 'No Negative' AND 
#     review_date BETWEEN '6/1/17' AND '8/31/17'
# GROUP BY     hotel_name
# ORDER BY     n_negative_reviews DESC
# LIMIT 10



# SELECT      hotel_name,    max(total_number_of_reviews_reviewer_has_given) AS max_total_reviews
# FROM hotel_reviews
# GROUP BY    hotel_name
# ORDER BY    max_total_reviews DESC
# LIMIT 5

2021-06-19 17:14:38,713 [4512] WARNING  py.warnings:110: [JupyterRequire] C:\Users\bluii\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

                          hotel_name  n_negative_reviews
0                        Abba Garden                   1
1  DoubleTree By Hilton London Excel                   1
2                        Hotel Arena                   1
3           NH City Centre Amsterdam                   1

In [12]:
# Find the top five hotels with the highest total reviews given by a particular reviewer
# Find the top five hotels with the highest total reviews given by the most active reviewer.
# Output the hotel name along with the highest total reviews.
# Order records based on the highest total reviews in descending order.



import pandas as pd
import numpy as np

result = hotel_reviews.groupby(['hotel_name'])['total_number_of_reviews_reviewer_has_given'].max()
print(result)
print(result.to_frame('max_total_reviews'))
print(result.to_frame('max_total_reviews').reset_index())
result.to_frame('max_total_reviews').reset_index().sort_values('max_total_reviews', ascending = False).head()

hotel_name
41                                      10.0
ARCOTEL Wimberger                       14.0
Abba Garden                              4.0
Amadi Park Hotel                        10.0
Ambassade Hotel                          1.0
                                        ...
The Grosvenor                            1.0
The Nadler Kensington                    4.0
The Student Hotel Amsterdam City        19.0
WestCord Art Hotel Amsterdam 4 stars     1.0
WestCord Fashion Hotel Amsterdam         6.0
Name: total_number_of_reviews_reviewer_has_given, Length: 76, dtype: float64
                                      max_total_reviews
hotel_name
41                                                 10.0
ARCOTEL Wimberger                                  14.0
Abba Garden                                         4.0
Amadi Park Hotel                                   10.0
Ambassade Hotel                                     1.0
...                                                 ...
The Grosvenor                                       1.0
The Nadler Kensington                               4.0
The Student Hotel Amsterdam City                   19.0
WestCord Art Hotel Amsterdam 4 stars                1.0
WestCord Fashion Hotel Amsterdam                    6.0

[76 rows x 1 columns]
                              hotel_name  max_total_reviews
0                                     41               10.0
1                      ARCOTEL Wimberger               14.0
2                            Abba Garden                4.0
3                       Amadi Park Hotel               10.0
4                        Ambassade Hotel                1.0
..                                   ...                ...
71                         The Grosvenor                1.0
72                 The Nadler Kensington                4.0
73      The Student Hotel Amsterdam City               19.0
74  WestCord Art Hotel Amsterdam 4 stars                1.0
75      WestCord Fashion Hotel Amsterdam                6.0

[76 rows x 2 columns]

                                           hotel_name  max_total_reviews
37                                    Hotel Moonlight               41.0
60                     Ramada Apollo Amsterdam Centre               31.0
8                                 Auteuil Tour Eiffel               29.0
9   Baglioni Hotel London The Leading Hotels of th...               28.0
32                                        Hotel Arena               23.0

In [15]:
# Find the number of nights that are searching for when trying to book a host
# Find the number of nights that are searched by most people when trying to book a host.
# Output the number of nights alongside the total searches.
# Order records based on the total searches in descending order.
import pandas as pd
import numpy as np
airbnb_searches=pd.read_csv('airbnb_searches.csv')

result = airbnb_searches.groupby(['n_nights'])['n_searches'].sum().to_frame('total_searches').reset_index().sort_values('total_searches', ascending = False)
result

#  SELECT     n_nights,    sum(n_searches) AS total_searches
# FROM airbnb_searches
# GROUP BY     n_nights
# ORDER BY     total_searches DESC

    n_nights  total_searches
2        3.0             806
1        2.0             780
7        8.0             366
3        4.0             285
0        1.0             167
6        7.0             157
4        5.0              95
5        6.0              66
9       13.0              29
13      76.0              13
11      29.0               8
10      22.0               7
12      31.0               5
8        9.0               1

In [17]:
# Find the countries with the most positive reviews
# Find the countries with the most positive reviews.
# Output the country along with the number of positive reviews.
# Sort records based on the number of positive reviews in descending order.

import pandas as pd
import numpy as np

positive = hotel_reviews[hotel_reviews['positive_review'] !='No Positive']
result = positive.groupby(['reviewer_nationality'])['positive_review'].count().to_frame('n_positive_reviews').reset_index().sort_values('n_positive_reviews', ascending = False)
result

# SELECT     reviewer_nationality,  count(positive_review) AS n_positive_reviews
# FROM hotel_reviews
# WHERE     NOT positive_review = 'No Positive'
# GROUP BY     reviewer_nationality
# ORDER BY      n_positive_reviews DESC

        reviewer_nationality  n_positive_reviews
28            United Kingdom                  33
29  United States of America                  11
0                  Australia                   6
18               Netherlands                   4
5                     France                   3
25               Switzerland                   3
12                   Ireland                   3
13                    Israel                   3
6                     Greece                   2
27                    Turkey                   2
9                      India                   2
22                 Singapore                   2
3                     Cyprus                   1
20                  Portugal                   1
2                      China                   1
26                   Tunisia                   1
24                     Spain                   1
23              South Africa                   1
21                   Romania                   1
16                   Lebanon                   1
19                    Norway                   1
17                  Malaysia                   1
4             Czech Republic                   1
1                     Canada                   1
14                     Italy                   1
11                      Iraq                   1
10                      Iran                   1
8                    Hungary                   1
7                   Guernsey                   1
15                     Japan                   1