In [1]:
# 3rd Most Reported Health Issues
# Each record in the table is a reported health issue and its classification is categorized by the facility type, 
# size, risk score which is found in the pe_description column.
# If we limit the table to only include businesses with Cafe, Tea, or Juice in the name,
# which businesses belong to the categories (pe_descriptions) tying for third in overall inspections? Output the name of the facilities found in the facility_name column.
# DataFrame: los_ang

# Import your libraries
import pandas as pd
los_angeles_restaurant_health_inspections=pd.read_csv('los_angeles_restaurant_health_inspections.csv')
df = los_angeles_restaurant_health_inspections
df_loc = df.loc[(df['facility_name'].str.contains('CAFE')) | (df['facility_name'].str.contains('TEA'))| (df['facility_name'].str.contains('JUICE'))]
df_loc['issues_count'] = df_loc.groupby('pe_description')['record_id'].transform('count')
df_loc['issues_rank'] = df_loc['issues_count'].rank(ascending=False, method='dense')
df_loc 
df_loc[df_loc['issues_rank'] == 3]['facility_name']
df_loc

2021-06-09 22:27:08,303 [7892] WARNING  py.warnings:110: [JupyterRequire] C:\Users\bluii\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,1,4,6,7,8,9,10,11,12,13,14,15,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2021-06-09 22:27:14,406 [7892] WARNING  py.warnings:110: [JupyterRequire] C:\Users\bluii\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

2021-06-09 22:27:14,406 [7892] WARNING  py.warnings:110: [JupyterRequire] C:\Users\bluii\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,serial_number,activity_date,facility_name,score,grade,service_code,service_description,employee_id,facility_address,facility_city,...,facility_zip,owner_id,owner_name,pe_description,program_element_pe,program_name,program_status,record_id,issues_count,issues_rank
0,DAQHRSETQ,08-06-2017 0:00,MARGARITAS CAFE,93.0,A,1.0,ROUTINE INSPECTION,EE0000006,5026 S CRENSHAW BLVD,LOS ANGELES,...,90043,OW0004133,"BAZAN, ASCENCION",RESTAURANT (61-150) SEATS HIGH RISK,1638.0,MARGARITAS CAFE,ACTIVE,PR0011718,3,2.0
3,DAXMBTIRZ,12-02-2018 0:00,CAFE GRATITUDE,97.0,A,1.0,ROUTINE INSPECTION,EE0000828,639 N LARCHMONT BLVD STE #102,LOS ANGELES,...,90004,OW0005704,CAFE GRATITUDE LARCHMONT LLC,RESTAURANT (61-150) SEATS HIGH RISK,1638.0,CAFE GRATITUDE,ACTIVE,PR0019854,3,2.0
26,DAZLJWCPK,16-01-2018 0:00,CAFE SEOUL NANDARANG,95.0,A,1.0,ROUTINE INSPECTION,EE0000869,3815 W 6TH ST,LOS ANGELES,...,90020,OW0016238,HONG EUN CHONG INC,RESTAURANT (61-150) SEATS HIGH RISK,1638.0,CAFE SEOUL NANDARANG,ACTIVE,PR0020642,3,2.0
31,DAGDXJ32I,14-09-2015 0:00,TROPICANA JUICE BAR & DELI,90.0,A,1.0,ROUTINE INSPECTION,EE0000923,5202 MONTE VISTA ST,LOS ANGELES,...,90042,OW0020496,LA TROPICANA MARKET INC.,RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,LA TROPOCANA JUICE BAR/DELI,ACTIVE,PR0048308,19,1.0
51,DA0DV2BTI,20-07-2016 0:00,CONCERT HALL CAFE,99.0,A,1.0,ROUTINE INSPECTION,EE0000721,111 S GRAND AVE # #950,LOS ANGELES,...,90012,OW0035686,THE PATINA GROUP NEWCO LLC,RESTAURANT (0-30) SEATS LOW RISK,1630.0,CONCERT LOBBY BAR LEVEL 3,ACTIVE,PR0028415,2,3.0
68,DANBPCSWD,12-01-2016 0:00,THE COFFEE BEAN & TEA LEAF,96.0,A,1.0,ROUTINE INSPECTION,EE0000874,3726 S FIGUEROA ST,LOS ANGELES,...,90007,OW0017025,INTERNATIONAL COFFEE & TEA LLC,RESTAURANT (0-30) SEATS LOW RISK,1630.0,COFFEE BEAN & TEA LEAF,ACTIVE,PR0031631,2,3.0
74,DA0U3GJSU,30-10-2017 0:00,EXCELLENT THAI CAFE,96.0,A,1.0,ROUTINE INSPECTION,EE0000721,1220 W 7TH ST,LOS ANGELES,...,90017,OW0230377,PRAMOCH MUNGLAD,RESTAURANT (0-30) SEATS HIGH RISK,1632.0,EXCELLENT THAI CAFE,ACTIVE,PR0181529,1,4.0
91,DA43D5RLO,09-01-2017 0:00,HOLLYWOOD ROCK CAFE,80.0,B,1.0,ROUTINE INSPECTION,EE0000822,6511 HOLLYWOOD BLVD,LOS ANGELES,...,90028,OW0127540,HOLLYWOOD ROCK CAFE LLC,RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,HOLLYWOOD ROCK CAFE,INACTIVE,PR0152338,19,1.0
192,DAFIH0P7K,29-03-2018 0:00,CAFE SPOT,90.0,A,1.0,ROUTINE INSPECTION,EE0000699,3324 W 6TH ST # C,LOS ANGELES,...,90020,OW0036616,"TS INVESTMENTS, INC",RESTAURANT (31-60) SEATS MODERATE RISK,1634.0,CAFE SPOT,ACTIVE,PR0004050,2,3.0
209,DAVQKK25F,23-08-2017 0:00,FOOD HAUS CAFE,91.0,A,1.0,ROUTINE INSPECTION,EE0000721,2106 S OLIVE ST,LOS ANGELES,...,90007,OW0124972,FOOD HAUS CAFE INC,RESTAURANT (31-60) SEATS HIGH RISK,1635.0,FOOD HAUS CAFE,ACTIVE,PR0148065,1,4.0
221,DAJ6DGZIM,10-09-2015 0:00,SILVER LAKE JUICE BAR,90.0,A,1.0,ROUTINE INSPECTION,EE0000923,2813 W SUNSET BLVD,LOS ANGELES,...,90026,OW0017618,"JI, BABA",RESTAURANT (31-60) SEATS MODERATE RISK,1634.0,SILVER LAKE JUICE BAR,INACTIVE,PR0015112,2,3.0
223,DAX0ZHMK5,27-04-2016 0:00,HABIBI CAFE & LOUNGE,84.0,B,1.0,ROUTINE INSPECTION,EE0000911,923 BROXTON AVE,LOS ANGELES,...,90024,OW0011675,FATHI SAAD,RESTAURANT (151 + ) SEATS HIGH RISK,1641.0,HABIBI CAFE & LOUNGE,ACTIVE,PR0012092,1,4.0
249,DABPFK0H0,30-08-2017 0:00,QWENCH JUICE BAR,91.0,A,1.0,ROUTINE INSPECTION,EE0001058,201 N LOS ANGELES ST STE 24,LOS ANGELES,...,90012,OW0000115,"110 SUNSHINE SMOOTHIES, INC",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,QWENCH JUICE BAR,ACTIVE,PR0019841,19,1.0
252,DAUV5NCL1,17-08-2017 0:00,ROBEKS JUICE,93.0,A,1.0,ROUTINE INSPECTION,EE0000846,1915 N HILLHURST AVE,LOS ANGELES,...,90027,OW0000118,"110 SUNSHINE SMOOTHIES, INC.",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,ROBEKS JUICE,ACTIVE,PR0012195,19,1.0
253,DATAXREPB,14-08-2017 0:00,DRINK COFFEE + TEA,90.0,A,1.0,ROUTINE INSPECTION,EE0000904,1528 N VERMONT AVE # #C,LOS ANGELES,...,90027,OW0000117,"110 SUNSHINE SMOOTHIES, INC.",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,DRINK COFFEE + TEA,ACTIVE,PR0025522,19,1.0
258,DANL8WRBT,15-06-2017 0:00,QWENCH JUICE BAR,91.0,A,1.0,ROUTINE INSPECTION,EE0001058,201 N LOS ANGELES ST STE 24,LOS ANGELES,...,90012,OW0000115,"110 SUNSHINE SMOOTHIES, INC",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,QWENCH JUICE BAR,ACTIVE,PR0019841,19,1.0
263,DAUPP40X6,13-03-2017 0:00,DRINK COFFEE + TEA,96.0,A,1.0,ROUTINE INSPECTION,EE0000904,1528 N VERMONT AVE # #C,LOS ANGELES,...,90027,OW0000117,"110 SUNSHINE SMOOTHIES, INC.",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,DRINK COFFEE + TEA,ACTIVE,PR0025522,19,1.0
266,DAKZPJLCG,05-01-2017 0:00,ROBEKS JUICE,91.0,A,1.0,ROUTINE INSPECTION,EE0000846,1915 N HILLHURST AVE,LOS ANGELES,...,90027,OW0000118,"110 SUNSHINE SMOOTHIES, INC.",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,ROBEKS JUICE,ACTIVE,PR0012195,19,1.0
270,DAGYLIWEK,26-10-2016 0:00,DRINK COFFEE + TEA,95.0,A,1.0,ROUTINE INSPECTION,EE0000904,1528 N VERMONT AVE # #C,LOS ANGELES,...,90027,OW0000117,"110 SUNSHINE SMOOTHIES, INC.",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,DRINK COFFEE + TEA,ACTIVE,PR0025522,19,1.0
273,DAEW8QXGO,06-09-2016 0:00,QWENCH JUICE BAR,90.0,A,1.0,ROUTINE INSPECTION,EE0001058,201 N LOS ANGELES ST STE 24,LOS ANGELES,...,90012,OW0000115,"110 SUNSHINE SMOOTHIES, INC",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,QWENCH JUICE BAR,ACTIVE,PR0019841,19,1.0
274,DA5DIACYB,09-08-2016 0:00,ROBEKS JUICE,94.0,A,1.0,ROUTINE INSPECTION,EE0000846,1915 N HILLHURST AVE,LOS ANGELES,...,90027,OW0000118,"110 SUNSHINE SMOOTHIES, INC.",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,ROBEKS JUICE,ACTIVE,PR0012195,19,1.0
277,DAG33AVM1,22-06-2016 0:00,DRINK COFFEE + TEA,96.0,A,1.0,ROUTINE INSPECTION,EE0000904,1528 N VERMONT AVE # #C,LOS ANGELES,...,90027,OW0000117,"110 SUNSHINE SMOOTHIES, INC.",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,DRINK COFFEE + TEA,ACTIVE,PR0025522,19,1.0
278,DAE3RRY9A,26-05-2016 0:00,QWENCH JUICE BAR,92.0,A,1.0,ROUTINE INSPECTION,EE0001058,201 N LOS ANGELES ST STE 24,LOS ANGELES,...,90012,OW0000115,"110 SUNSHINE SMOOTHIES, INC",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,QWENCH JUICE BAR,ACTIVE,PR0019841,19,1.0
282,DA3R3MB62,19-02-2016 0:00,ROBEKS JUICE,96.0,A,1.0,ROUTINE INSPECTION,EE0000846,1915 N HILLHURST AVE,LOS ANGELES,...,90027,OW0000118,"110 SUNSHINE SMOOTHIES, INC.",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,ROBEKS JUICE,ACTIVE,PR0012195,19,1.0
288,DAZWA4CKQ,29-12-2015 0:00,DRINK COFFEE + TEA,91.0,A,1.0,ROUTINE INSPECTION,EE0000904,1528 N VERMONT AVE # #C,LOS ANGELES,...,90027,OW0000117,"110 SUNSHINE SMOOTHIES, INC.",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,DRINK COFFEE + TEA,ACTIVE,PR0025522,19,1.0
291,DA9ZVACY9,09-09-2015 0:00,QWENCH JUICE BAR,92.0,A,1.0,ROUTINE INSPECTION,EE0000893,201 N LOS ANGELES ST STE 24,LOS ANGELES,...,90012,OW0000115,"110 SUNSHINE SMOOTHIES, INC",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,QWENCH JUICE BAR,ACTIVE,PR0019841,19,1.0
294,DACKTZYRG,17-07-2015 0:00,ROBEKS JUICE,95.0,A,1.0,ROUTINE INSPECTION,EE0000718,1915 N HILLHURST AVE,LOS ANGELES,...,90027,OW0000118,"110 SUNSHINE SMOOTHIES, INC.",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,ROBEKS JUICE,ACTIVE,PR0012195,19,1.0
296,DAXKTJJXU,14-02-2018 0:00,QWENCH JUICE BAR,90.0,A,1.0,ROUTINE INSPECTION,EE0001058,201 N LOS ANGELES ST STE 24,LOS ANGELES,...,90012,OW0000115,"110 SUNSHINE SMOOTHIES, INC",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,QWENCH JUICE BAR,ACTIVE,PR0019841,19,1.0
299,DAL6AQGIQ,05-01-2018 0:00,ROBEKS JUICE,95.0,A,1.0,ROUTINE INSPECTION,EE0000846,1915 N HILLHURST AVE,LOS ANGELES,...,90027,OW0000118,"110 SUNSHINE SMOOTHIES, INC.",RESTAURANT (0-30) SEATS MODERATE RISK,1631.0,ROBEKS JUICE,ACTIVE,PR0012195,19,1.0

In [10]:
# Top 3 Facilities
# Find the top 3 facilities for each owner. 
# The top 3 facilities can be identified using the highest average score for each owner name and facility address grouping.
# The output should include 4 columns: owner name, top 1 facility address, top 2 facility address, and top 3 facility address.
# Order facilities with the same score alphabetically.
# Import your libraries
import pandas as pd

# Start writing code
r = los_angeles_restaurant_health_inspections[["owner_id", "owner_name","facility_id", "facility_address", "facility_city", "score" ]]
avg = r.groupby(["owner_name", "facility_id"])["score"].mean().reset_index(name="avg_score")
avg["rank"] = avg.groupby(["owner_name"])["avg_score"].rank(method="first", ascending=False)
avg.sort_values('owner_name')
avg_3 = avg[avg["rank"] <= 3]
print(avg_3)
merged = pd.merge(avg_3, r, on = ["owner_name", "facility_id"]).drop_duplicates()
merged.sort_values('score',ascending=False).head(45)

                       owner_name facility_id  avg_score  rank
0     110 SUNSHINE SMOOTHIES, INC   FA0030817  92.000000   2.0
1     110 SUNSHINE SMOOTHIES, INC   FA0030822  91.000000   3.0
2     110 SUNSHINE SMOOTHIES, INC   FA0030823  92.666667   1.0
3    110 SUNSHINE SMOOTHIES, INC.   FA0030543  93.600000   2.0
4    110 SUNSHINE SMOOTHIES, INC.   FA0046628  94.000000   1.0
..                            ...         ...        ...   ...
228         YOOTTHANA BAMRUNGKHET   FA0163712  92.000000   1.0
229       YOSHINOYA AMERICA, INC.   FA0055756  94.000000   1.0
230                    YOUNG YOON   FA0160457  99.000000   1.0
231                       YRT INC   FA0062291  94.000000   1.0
232         ZARGOZA, JULIAN ET AL   FA0037636  91.000000   1.0

[226 rows x 4 columns]

,owner_name,facility_id,avg_score,rank,owner_id,facility_address,facility_city,score
96,"EARLE'S RESTAURANT,LLC",FA0224049,100.000000,1.0,OW0228618,3864 CRENSHAW BLVD,LOS ANGELES,100.0
51,BE MY GUEST INC,FA0159783,100.000000,1.0,OW0124783,701 LINCOLN BLVD,LOS ANGELES,100.0
280,VICTORINO TEYUCA,FA0035885,100.000000,1.0,OW0037663,1433 W JEFFERSON BLVD,LOS ANGELES,100.0
108,GALDAZA FOOD CORPORATION,FA0142882,100.000000,1.0,OW0106042,1147 W WASHINGTON BLVD,LOS ANGELES,100.0
267,"TOYA, JANIS",FA0047373,100.000000,1.0,OW0036339,4543 S CENTINELA AVE,LOS ANGELES,100.0
79,CHUKA FOODS,FA0060787,100.000000,1.0,OW0007968,3740 CRENSHAW BLVD,LOS ANGELES,100.0
184,MARIA E. OCHOA,FA0067478,100.000000,1.0,OW0026545,1804 E VERNON AVE # D-51,LOS ANGELES,100.0
46,"BALL,DUDLEY & DONALD & ROGER",FA0022418,100.000000,1.0,OW0003837,3400 WHITTIER BLVD,LOS ANGELES,100.0
48,"BAUTISTA, ADOLFO",FA0065926,100.000000,1.0,OW0004107,5719 E WHITTIER BLVD,LOS ANGELES,100.0
124,GOODWIN TYRONE,FA0045117,93.000000,1.0,OW0013793,1849 SAWTELLE BLVD,LOS ANGELES,100.0
151,K & D CHINESE FAST FOOD INC,FA0068234,100.000000,1.0,OW0018189,4032 S WESTERN AVE,LOS ANGELES,100.0
171,"LOPEZ, LEONARDO M",FA0035989,100.000000,1.0,OW0022181,6611 S ALAMEDA ST,LOS ANGELES,100.0
98,ELYSIAN LLC,FA0158891,100.000000,1.0,OW0123938,2806 CLEARWATER ST,LOS ANGELES,100.0
55,BHFC OPERATING LLC,FA0164787,100.000000,1.0,OW0128102,617 W 7TH ST,LOS ANGELES,100.0
257,TEXIS RESTAURANTS INC,FA0036834,100.000000,1.0,OW0035347,2815 W PICO BLVD,LOS ANGELES,100.0
244,"SAPIEN,JOSE A V&MARTHA M DBA",FA0020855,100.000000,1.0,OW0031788,5530 MONTE VISTA ST,LOS ANGELES,100.0
182,MARGARITA R. PLATON,FA0012815,100.000000,1.0,OW0028703,5219 E BEVERLY BLVD,LOS ANGELES,100.0
82,CJ BAKERY INC.,FA0009488,100.000000,1.0,OW0008289,10250 SANTA MONICA BLVD SECIO,LOS ANGELES,100.0
260,THE PATINA GROUP NEWCO LLC,FA0060206,99.000000,1.0,OW0035686,111 S GRAND AVE # #950,LOS ANGELES,99.0
28,"99 CENT ONLY STORES, LLC",FA0138249,99.000000,1.0,OW0001414,6921 LA TIJERA BLVD,LOS ANGELES,99.0
97,ELWIR MOHAMMED,FA0003310,99.000000,1.0,OW0011039,623 N AVENUE 64,LOS ANGELES,99.0
89,DANNY'S BAKERY INC,FA0171210,98.333333,1.0,OW0130817,4032 BEVERLY BLVD,LOS ANGELES,99.0
35,ARAMARK HIGHER EDUCATION,FA0024368,98.000000,1.0,OW0002904,3400 S FIGUEROA ST,LOS ANGELES,99.0
32,ANTONIA M RIOS GUZMAN,FA0203204,99.000000,1.0,OW0208422,4433 S ALAMEDA ST # B-14,LOS ANGELES,99.0
283,WSRH LAX AIRPORT LLC,FA0046199,99.000000,1.0,OW0039321,9620 AIRPORT BLVD,LOS ANGELES,99.0
288,YOUNG YOON,FA0160457,99.000000,1.0,OW0125421,1828 N BROADWAY,LOS ANGELES,99.0
45,B SWEET LLC,FA0160908,98.000000,1.0,OW0125842,2005 S SAWTELLE BLVD,LOS ANGELES,98.0
103,FLORENCE GAS MART INC,FA0174643,98.000000,1.0,OW0181284,303 W FLORENCE AVE,LOS ANGELES,98.0
102,FIX COFFEE LLC,FA0062112,98.000000,1.0,OW0011918,2100 ECHO PARK AVE,LOS ANGELES,98.0
232,ROSA PENTERIA,FA0157974,98.000000,1.0,OW0123080,4501 HUNTINGTON DR N,LOS ANGELES,98.0
117,GLASSELL COFFEE SHOP LLC,FA0170465,96.000000,1.0,OW0178123,3708 N EAGLE ROCK BLVD,LOS ANGELES,98.0
138,"IN-N-OUT BURGERS, INC.",FA0017989,98.000000,1.0,OW0016998,922 GAYLEY AVE,LOS ANGELES,98.0
125,GOODWIN TYRONE,FA0045117,93.000000,1.0,OW0013793,1849 SAWTELLE BLVD,LOS ANGELES,98.0
33,"ANTONIO, JUAN",FA0042299,98.000000,1.0,OW0002812,3655 S GRAND AVE STE C-8,LOS ANGELES,98.0
222,PLAN CHECK DOWNTOWN III LLC,FA0164576,98.000000,1.0,OW0127912,1111 WILSHIRE BLVD,LOS ANGELES,98.0
30,"AMERICAN AIRLINES, INC.",FA0004930,98.000000,1.0,OW0125020,400 WORLD WAY,LOS ANGELES,98.0
115,GIFTII SHIFERAW JATE,FA0167157,98.000000,1.0,OW0100369,8503 S VERMONT AVE,LOS ANGELES,98.0
168,LEVY PREMIUM FOOD SERVICE LP,FA0019271,98.000000,1.0,OW0021606,1000 VIN SCULLY AVE,LOS ANGELES,98.0
167,LENTO MARKET LLC,FA0239946,98.000000,1.0,OW0236134,1288 W SUNSET BLVD,LOS ANGELES,98.0
179,"MAIN 168 PARTNERS, LP",FA0007784,98.000000,1.0,OW0022942,408 S MAIN ST,LOS ANGELES,98.0
229,"RAR, INC",FA0159215,97.000000,1.0,OW0124236,8639 LINCOLN BLVD,LOS ANGELES,97.0
83,"CLUB,JONATHAN",FA0033346,97.000000,1.0,OW0008390,545 S FIGUEROA ST,LOS ANGELES,97.0
161,"L'AMI RESTAURANT, LLC",FA0038316,97.000000,1.0,OW0020671,2117 HILLHURST AVE,LOS ANGELES,97.0
75,CHEN YANZHEN,FA0062108,97.000000,1.0,OW0007348,2706 N BROADWAY,LOS ANGELES,97.0
59,CAFE GRATITUDE LARCHMONT LLC,FA0058921,97.000000,1.0,OW0005704,639 N LARCHMONT BLVD STE #102,LOS ANGELES,97.0

In [13]:
import pandas as pd
import numpy as np

owner = los_angeles_restaurant_health_inspections.groupby(    ['owner_name', 'facility_address'])['score'].mean().to_frame('avg_score').reset_index()
owner['position'] = owner.sort_values(['avg_score'], ascending=False).groupby( ['owner_name']).cumcount() + 1  # .query('rn < 3').sort_values(['owner_name','rn'])
rank = owner.query('position < 4').sort_values(['owner_name', 'position'])
pivoted_df = pd.pivot_table(rank, index=['owner_name'], columns=['position'], values=['facility_address'], aggfunc='max')
pivoted_df.columns = pivoted_df.columns.droplevel(0)
pivoted_df.columns.name = None
pivoted_df.columns = pivoted_df.columns.astype(str)
result = pivoted_df.reset_index().rename(
    columns={'1': 'facility_1', '2': 'facility_2', '3': 'facility_3'})
result.head(45)

,owner_name,facility_1,facility_2,facility_3
0,"110 SUNSHINE SMOOTHIES, INC",645 W 9TH ST STE 109,6848 W SUNSET BLVD,201 N LOS ANGELES ST STE 24
1,"110 SUNSHINE SMOOTHIES, INC.",1915 N HILLHURST AVE,1528 N VERMONT AVE # #C,NaN
2,7111 MELROSE LLC,7111 MELROSE AVE # C,NaN,NaN
3,"9 STONES, LLC",6600 SUNSET BLVD,NaN,NaN
4,"99 CENT ONLY STORES, LLC",6921 LA TIJERA BLVD,NaN,NaN
5,"ADAMS,ESTHER&LAZAR BERNAHARD",12027 SAN VICENTE BLVD,NaN,NaN
6,"AMERICAN AIRLINES, INC.",400 WORLD WAY,NaN,NaN
7,ANJAC FASHION BLDGS,842 S BROADWAY,NaN,NaN
8,ANTONIA M RIOS GUZMAN,4433 S ALAMEDA ST # B-14,NaN,NaN
9,"ANTONIO, JUAN",3655 S GRAND AVE STE C-8,NaN,NaN
10,ARAMARK HIGHER EDUCATION,3400 S FIGUEROA ST,NaN,NaN
11,"ASHENA, FARAHNAZ",106 W 9TH ST,NaN,NaN
12,ASHLIAN INC,1015 S WALL ST STE #117,NaN,NaN
13,ASTORGA - NEVAREZ JOSE S.,252 W FLORENCE AVE,NaN,NaN
14,AXY ENTERPRISES,7470 MELROSE AVE,NaN,NaN
15,B SWEET LLC,2005 S SAWTELLE BLVD,NaN,NaN
16,"BALL,DUDLEY & DONALD & ROGER",3400 WHITTIER BLVD,NaN,NaN
17,"BANG, TYAE S",4319 W 2ND ST,NaN,NaN
18,"BAUTISTA, ADOLFO",5719 E WHITTIER BLVD,NaN,NaN
19,"BAZAN, ASCENCION",5026 S CRENSHAW BLVD,NaN,NaN
20,BE MY GUEST INC,701 LINCOLN BLVD,NaN,NaN
21,BERBERIAN ENTERPRISES,5311 SANTA MONICA BLVD,NaN,NaN
22,BEVERLY WORLD INDUSTRIES INC,4317 W BEVERLY BLVD,NaN,NaN
23,BHFC OPERATING LLC,617 W 7TH ST,NaN,NaN
24,"BLOCK PARTY HIGHLAND PARK, LLC",5052 YORK BLVD,NaN,NaN
25,"BRIDGE HOSPITALITY, LLC",755 N LA CIENEGA BLVD,NaN,NaN
26,BRITUL CORPORATION,5701 S EASTERN AVE,NaN,NaN
27,CAFE GRATITUDE LARCHMONT LLC,639 N LARCHMONT BLVD STE #102,NaN,NaN
28,"CAMACHO, OSCAR FLORES",11106 W OLYMPIC BLVD,NaN,NaN
29,CANTERS INC,419 N FAIRFAX AVE,NaN,NaN
30,CARLOS MIGUEL GONZALEZ,2630 MAPLE AVE,NaN,NaN
31,"CARNICERIA LA OAXAQUENA, INC",3307 W PICO BLVD,3701 W PICO BLVD,NaN
32,"CARRILLO, JOHN ANTHONY",4642 E 3RD ST,NaN,NaN
33,CARVAJAL & BROTHERS RESTAURANT,4501 S ALAMEDA ST # W-11,4501 S ALAMEDA ST,NaN
34,CAVA MEZZE GRILL LLC,1073 BROXTON AVE,NaN,NaN
35,"CCC GALBI, INC",709 S VERMONT AVE,NaN,NaN
36,"CEBALLOS, PAULA",6119 S NORMANDIE AVE,NaN,NaN
37,CHA GAVIN,4625 E VALLEY BLVD,NaN,NaN
38,"CHAI, CHAN SOON",3623 W PICO BLVD,NaN,NaN
39,"CHALIM,VOUCH ENG",727 N BROADWAY STE 103,NaN,NaN
40,CHEN YANZHEN,2706 N BROADWAY,NaN,NaN
41,"CHEUNG, PERRY",3300 OVERLAND AVE STE 105,NaN,NaN
42,"CHIPOTLE MEXICAN GRILL, INC.",8420 BEVERLY BLVD,NaN,NaN
43,CHOUDHRY EMPIRE INC,8453 BEVERLY BLVD,NaN,NaN
44,CHUKA FOODS,3740 CRENSHAW BLVD,NaN,NaN

In [26]:
# Import your libraries
import pandas as pd

# Start writing code
r = los_angeles_restaurant_health_inspections[["owner_id", "owner_name","facility_id", "facility_address", "facility_city", "score" ]]
avg = r.groupby(["owner_name", "facility_id"])["score"].mean().reset_index(name="avg_score")
print(avg)
avg["rank"] = avg.groupby(["owner_name"])["avg_score"].rank(method="first", ascending=False)

avg.sort_values('owner_name')
print(avg)

avg_3 = avg[avg["rank"] <4]
merged = pd.merge(avg_3, r, on = ["owner_name", "facility_id"]).drop_duplicates()
print('merged', )
print( merged.head(15))
out = merged[["owner_name", "facility_address", "rank"]].drop_duplicates()
result = out.pivot(index="owner_name", columns="rank", values="facility_address").reset_index()
result.head(45)

                       owner_name facility_id  avg_score
0     110 SUNSHINE SMOOTHIES, INC   FA0030817  92.000000
1     110 SUNSHINE SMOOTHIES, INC   FA0030822  91.000000
2     110 SUNSHINE SMOOTHIES, INC   FA0030823  92.666667
3    110 SUNSHINE SMOOTHIES, INC.   FA0030543  93.600000
4    110 SUNSHINE SMOOTHIES, INC.   FA0046628  94.000000
..                            ...         ...        ...
228         YOOTTHANA BAMRUNGKHET   FA0163712  92.000000
229       YOSHINOYA AMERICA, INC.   FA0055756  94.000000
230                    YOUNG YOON   FA0160457  99.000000
231                       YRT INC   FA0062291  94.000000
232         ZARGOZA, JULIAN ET AL   FA0037636  91.000000

[233 rows x 3 columns]
                       owner_name facility_id  avg_score  rank
0     110 SUNSHINE SMOOTHIES, INC   FA0030817  92.000000   2.0
1     110 SUNSHINE SMOOTHIES, INC   FA0030822  91.000000   3.0
2     110 SUNSHINE SMOOTHIES, INC   FA0030823  92.666667   1.0
3    110 SUNSHINE SMOOTHIES, INC.   FA0030543  93.600000   2.0
4    110 SUNSHINE SMOOTHIES, INC.   FA0046628  94.000000   1.0
..                            ...         ...        ...   ...
228         YOOTTHANA BAMRUNGKHET   FA0163712  92.000000   1.0
229       YOSHINOYA AMERICA, INC.   FA0055756  94.000000   1.0
230                    YOUNG YOON   FA0160457  99.000000   1.0
231                       YRT INC   FA0062291  94.000000   1.0
232         ZARGOZA, JULIAN ET AL   FA0037636  91.000000   1.0

[233 rows x 4 columns]
merged
                      owner_name facility_id  avg_score  rank   owner_id  \
0    110 SUNSHINE SMOOTHIES, INC   FA0030817  92.000000   2.0  OW0000115
1    110 SUNSHINE SMOOTHIES, INC   FA0030817  92.000000   2.0  OW0000115
2    110 SUNSHINE SMOOTHIES, INC   FA0030817  92.000000   2.0  OW0000115
4    110 SUNSHINE SMOOTHIES, INC   FA0030817  92.000000   2.0  OW0000115
5    110 SUNSHINE SMOOTHIES, INC   FA0030817  92.000000   2.0  OW0000115
6    110 SUNSHINE SMOOTHIES, INC   FA0030822  91.000000   3.0  OW0000115
8    110 SUNSHINE SMOOTHIES, INC   FA0030822  91.000000   3.0  OW0000115
9    110 SUNSHINE SMOOTHIES, INC   FA0030822  91.000000   3.0  OW0000115
12   110 SUNSHINE SMOOTHIES, INC   FA0030823  92.666667   1.0  OW0000115
14   110 SUNSHINE SMOOTHIES, INC   FA0030823  92.666667   1.0  OW0000115
15  110 SUNSHINE SMOOTHIES, INC.   FA0030543  93.600000   2.0  OW0000117
16  110 SUNSHINE SMOOTHIES, INC.   FA0030543  93.600000   2.0  OW0000117
17  110 SUNSHINE SMOOTHIES, INC.   FA0030543  93.600000   2.0  OW0000117
19  110 SUNSHINE SMOOTHIES, INC.   FA0030543  93.600000   2.0  OW0000117
20  110 SUNSHINE SMOOTHIES, INC.   FA0046628  94.000000   1.0  OW0000118

               facility_address facility_city  score
0            6848 W SUNSET BLVD   LOS ANGELES   93.0
1            6848 W SUNSET BLVD   LOS ANGELES   91.0
2            6848 W SUNSET BLVD   LOS ANGELES   92.0
4            6848 W SUNSET BLVD   LOS ANGELES   90.0
5            6848 W SUNSET BLVD   LOS ANGELES   94.0
6   201 N LOS ANGELES ST STE 24   LOS ANGELES   91.0
8   201 N LOS ANGELES ST STE 24   LOS ANGELES   90.0
9   201 N LOS ANGELES ST STE 24   LOS ANGELES   92.0
12         645 W 9TH ST STE 109   LOS ANGELES   91.0
14         645 W 9TH ST STE 109   LOS ANGELES   96.0
15      1528 N VERMONT AVE # #C   LOS ANGELES   90.0
16      1528 N VERMONT AVE # #C   LOS ANGELES   96.0
17      1528 N VERMONT AVE # #C   LOS ANGELES   95.0
19      1528 N VERMONT AVE # #C   LOS ANGELES   91.0
20         1915 N HILLHURST AVE   LOS ANGELES   93.0

rank,owner_name,1.0,2.0,3.0
0,"110 SUNSHINE SMOOTHIES, INC",645 W 9TH ST STE 109,6848 W SUNSET BLVD,201 N LOS ANGELES ST STE 24
1,"110 SUNSHINE SMOOTHIES, INC.",1915 N HILLHURST AVE,1528 N VERMONT AVE # #C,NaN
2,7111 MELROSE LLC,7111 MELROSE AVE # C,NaN,NaN
3,"9 STONES, LLC",6600 SUNSET BLVD,NaN,NaN
4,"99 CENT ONLY STORES, LLC",6921 LA TIJERA BLVD,NaN,NaN
5,"ADAMS,ESTHER&LAZAR BERNAHARD",12027 SAN VICENTE BLVD,NaN,NaN
6,"AMERICAN AIRLINES, INC.",400 WORLD WAY,NaN,NaN
7,ANJAC FASHION BLDGS,842 S BROADWAY,NaN,NaN
8,ANTONIA M RIOS GUZMAN,4433 S ALAMEDA ST # B-14,NaN,NaN
9,"ANTONIO, JUAN",3655 S GRAND AVE STE C-8,NaN,NaN
10,ARAMARK HIGHER EDUCATION,3400 S FIGUEROA ST,NaN,NaN
11,"ASHENA, FARAHNAZ",106 W 9TH ST,NaN,NaN
12,ASHLIAN INC,1015 S WALL ST STE #117,NaN,NaN
13,ASTORGA - NEVAREZ JOSE S.,252 W FLORENCE AVE,NaN,NaN
14,AXY ENTERPRISES,7470 MELROSE AVE,NaN,NaN
15,B SWEET LLC,2005 S SAWTELLE BLVD,NaN,NaN
16,"BALL,DUDLEY & DONALD & ROGER",3400 WHITTIER BLVD,NaN,NaN
17,"BANG, TYAE S",4319 W 2ND ST,NaN,NaN
18,"BAUTISTA, ADOLFO",5719 E WHITTIER BLVD,NaN,NaN
19,"BAZAN, ASCENCION",5026 S CRENSHAW BLVD,NaN,NaN
20,BE MY GUEST INC,701 LINCOLN BLVD,NaN,NaN
21,BERBERIAN ENTERPRISES,5311 SANTA MONICA BLVD,NaN,NaN
22,BEVERLY WORLD INDUSTRIES INC,4317 W BEVERLY BLVD,NaN,NaN
23,BHFC OPERATING LLC,617 W 7TH ST,NaN,NaN
24,"BLOCK PARTY HIGHLAND PARK, LLC",5052 YORK BLVD,NaN,NaN
25,"BRIDGE HOSPITALITY, LLC",755 N LA CIENEGA BLVD,NaN,NaN
26,BRITUL CORPORATION,5701 S EASTERN AVE,NaN,NaN
27,CAFE GRATITUDE LARCHMONT LLC,639 N LARCHMONT BLVD STE #102,NaN,NaN
28,"CAMACHO, OSCAR FLORES",11106 W OLYMPIC BLVD,NaN,NaN
29,CANTERS INC,419 N FAIRFAX AVE,NaN,NaN
30,CARLOS MIGUEL GONZALEZ,2630 MAPLE AVE,NaN,NaN
31,"CARNICERIA LA OAXAQUENA, INC",3307 W PICO BLVD,3701 W PICO BLVD,NaN
32,"CARRILLO, JOHN ANTHONY",4642 E 3RD ST,NaN,NaN
33,CARVAJAL & BROTHERS RESTAURANT,4501 S ALAMEDA ST # W-11,4501 S ALAMEDA ST,NaN
34,CAVA MEZZE GRILL LLC,1073 BROXTON AVE,NaN,NaN
35,"CCC GALBI, INC",709 S VERMONT AVE,NaN,NaN
36,"CEBALLOS, PAULA",6119 S NORMANDIE AVE,NaN,NaN
37,CHA GAVIN,4625 E VALLEY BLVD,NaN,NaN
38,"CHAI, CHAN SOON",3623 W PICO BLVD,NaN,NaN
39,"CHALIM,VOUCH ENG",727 N BROADWAY STE 103,NaN,NaN
40,CHEN YANZHEN,2706 N BROADWAY,NaN,NaN
41,"CHEUNG, PERRY",3300 OVERLAND AVE STE 105,NaN,NaN
42,"CHIPOTLE MEXICAN GRILL, INC.",8420 BEVERLY BLVD,NaN,NaN
43,CHOUDHRY EMPIRE INC,8453 BEVERLY BLVD,NaN,NaN
44,CHUKA FOODS,3740 CRENSHAW BLVD,NaN,NaN

In [29]:
los_angeles_restaurant_health_inspections=pd.read_csv('los_angeles_restaurant_health_inspections.csv')

los_angeles_restaurant_health_inspections

,serial_number,activity_date,facility_name,score,grade,service_code,service_description,employee_id,facility_address,facility_city,facility_id,facility_state,facility_zip,owner_id,owner_name,pe_description,program_element_pe,program_name,program_status,record_id
0,DAQHRSETQ,08-06-2017 0:00,MARGARITAS CAFE,93,A,1,ROUTINE INSPECTION,EE0000006,5026 S CRENSHAW BLVD,LOS ANGELES,FA0023656,CA,90043,OW0004133,"BAZAN, ASCENCION",RESTAURANT (61-150) SEATS HIGH RISK,1638,MARGARITAS CAFE,ACTIVE,PR0011718
1,DA2GQRJOS,07-03-2017 0:00,LAS MOLENDERAS,97,A,1,ROUTINE INSPECTION,EE0000997,2635 WHITTIER BLVD,LOS ANGELES,FA0160416,CA,90023,OW0125379,MARISOL FEREGRINO,RESTAURANT (0-30) SEATS HIGH RISK,1632,LAS MOLENDERAS,INACTIVE,PR0148504
2,DAMQTA46T,22-03-2016 0:00,SANDRA'S TAMALES,93,A,1,ROUTINE INSPECTION,EE0001049,5390 WHITTIER BLVD,LOS ANGELES,FA0171769,CA,90022-4032,OW0178828,SANDRA'S TAMALES INC.,RESTAURANT (0-30) SEATS MODERATE RISK,1631,SANDRA'S TAMALES,ACTIVE,PR0164225
3,DAXMBTIRZ,12-02-2018 0:00,CAFE GRATITUDE,97,A,1,ROUTINE INSPECTION,EE0000828,639 N LARCHMONT BLVD STE #102,LOS ANGELES,FA0058921,CA,90004,OW0005704,CAFE GRATITUDE LARCHMONT LLC,RESTAURANT (61-150) SEATS HIGH RISK,1638,CAFE GRATITUDE,ACTIVE,PR0019854
4,DAK8TBMS0,10-09-2015 0:00,THE WAFFLE,90,A,1,ROUTINE INSPECTION,EE0000709,6255 W SUNSET BLVD STE #105,LOS ANGELES,FA0051830,CA,90028,OW0035796,"THE WAFFLE, LLC",RESTAURANT (61-150) SEATS HIGH RISK,1638,THE WAFFLE,ACTIVE,PR0010922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,DAFM1YEPX,13-03-2018 0:00,DRINK / QUENCH HOLLYWOOD,94,A,1,ROUTINE INSPECTION,EE0000835,6848 W SUNSET BLVD,LOS ANGELES,FA0030817,CA,90028,OW0000115,"110 SUNSHINE SMOOTHIES, INC",RESTAURANT (0-30) SEATS MODERATE RISK,1631,DRINK / QUENCH HOLLYWOOD,ACTIVE,PR0010536
296,DAXKTJJXU,14-02-2018 0:00,QWENCH JUICE BAR,90,A,1,ROUTINE INSPECTION,EE0001058,201 N LOS ANGELES ST STE 24,LOS ANGELES,FA0030822,CA,90012,OW0000115,"110 SUNSHINE SMOOTHIES, INC",RESTAURANT (0-30) SEATS MODERATE RISK,1631,QWENCH JUICE BAR,ACTIVE,PR0019841
297,DA7798LO0,16-01-2018 0:00,PRESTO DELI,97,A,1,ROUTINE INSPECTION,EE0000684,1849 SAWTELLE BLVD,LOS ANGELES,FA0045117,CA,90025,OW0013793,GOODWIN TYRONE,RESTAURANT (0-30) SEATS MODERATE RISK,1631,PRESTO DELI,ACTIVE,PR0023493
298,DALAYS0EE,10-01-2018 0:00,ANTONIO'S,97,A,1,ROUTINE INSPECTION,EE0000951,7470 MELROSE AVE,LOS ANGELES,FA0006521,CA,90046,OW0003489,AXY ENTERPRISES,RESTAURANT (151 + ) SEATS HIGH RISK,1641,ANTONIO'S,ACTIVE,PR0010215
299,DAL6AQGIQ,05-01-2018 0:00,ROBEKS JUICE,95,A,1,ROUTINE INSPECTION,EE0000846,1915 N HILLHURST AVE,LOS ANGELES,FA0046628,CA,90027,OW0000118,"110 SUNSHINE SMOOTHIES, INC.",RESTAURANT (0-30) SEATS MODERATE RISK,1631,ROBEKS JUICE,ACTIVE,PR0012195

In [41]:
# Facilities With Lots Of Inspections
# Find the facility that got the highest number of inspections in 2017 compared to other years.
# Compare the number of inspections per year and output only facilities that had the number of inspections greater in 2017 than in any other year.
# Each row in the dataset represents an inspection.
# Base your solution on the facility name and activity date fields.
import pandas as pd
import datetime as dt

los_angeles_restaurant_health_inspections['activity_date'] = los_angeles_restaurant_health_inspections['activity_date'].apply(pd.to_datetime)
print(los_angeles_restaurant_health_inspections.head())
los_angeles_restaurant_health_inspections['year'] = los_angeles_restaurant_health_inspections['activity_date'].dt.year
no_inspections = los_angeles_restaurant_health_inspections.groupby(['facility_name', 'year']).size().to_frame('no_inspections').reset_index()


no_inspections['rank'] = no_inspections.groupby(['facility_name'])['no_inspections'].rank(method='dense', ascending=False)

no_inspections['unique_rank'] = no_inspections.groupby(['facility_name', 'no_inspections'])['rank'].transform('count')
print('no_inspections')
print(no_inspections.head(15))
result = no_inspections[(no_inspections['year'] == 2017) & (no_inspections['rank'] == 1) & (no_inspections['unique_rank'] == 1)]['facility_name']
# result.head(45)

  serial_number activity_date     facility_name  score grade  service_code  \
0     DAQHRSETQ    2017-08-06   MARGARITAS CAFE     93     A             1
1     DA2GQRJOS    2017-07-03    LAS MOLENDERAS     97     A             1
2     DAMQTA46T    2016-03-22  SANDRA'S TAMALES     93     A             1
3     DAXMBTIRZ    2018-12-02    CAFE GRATITUDE     97     A             1
4     DAK8TBMS0    2015-10-09        THE WAFFLE     90     A             1

  service_description employee_id               facility_address  \
0  ROUTINE INSPECTION   EE0000006           5026 S CRENSHAW BLVD
1  ROUTINE INSPECTION   EE0000997             2635 WHITTIER BLVD
2  ROUTINE INSPECTION   EE0001049             5390 WHITTIER BLVD
3  ROUTINE INSPECTION   EE0000828  639 N LARCHMONT BLVD STE #102
4  ROUTINE INSPECTION   EE0000709    6255 W SUNSET BLVD STE #105

  facility_city  ... facility_state facility_zip   owner_id  \
0   LOS ANGELES  ...             CA        90043  OW0004133
1   LOS ANGELES  ...             CA        90023  OW0125379
2   LOS ANGELES  ...             CA   90022-4032  OW0178828
3   LOS ANGELES  ...             CA        90004  OW0005704
4   LOS ANGELES  ...             CA        90028  OW0035796

                     owner_name                         pe_description  \
0              BAZAN, ASCENCION    RESTAURANT (61-150) SEATS HIGH RISK
1             MARISOL FEREGRINO      RESTAURANT (0-30) SEATS HIGH RISK
2         SANDRA'S TAMALES INC.  RESTAURANT (0-30) SEATS MODERATE RISK
3  CAFE GRATITUDE LARCHMONT LLC    RESTAURANT (61-150) SEATS HIGH RISK
4               THE WAFFLE, LLC    RESTAURANT (61-150) SEATS HIGH RISK

  program_element_pe      program_name program_status  record_id  year
0               1638   MARGARITAS CAFE         ACTIVE  PR0011718  2017
1               1632    LAS MOLENDERAS       INACTIVE  PR0148504  2017
2               1631  SANDRA'S TAMALES         ACTIVE  PR0164225  2016
3               1638    CAFE GRATITUDE         ACTIVE  PR0019854  2018
4               1638        THE WAFFLE         ACTIVE  PR0010922  2015

[5 rows x 21 columns]
no_inspections
                facility_name  year  no_inspections  rank  unique_rank
0           7-ELEVEN #18821-B  2017               1   1.0            1
1   99 CENTS ONLY STORE #0375  2017               1   1.0            1
2               A B C EXPRESS  2015               1   1.0            1
3               ADMIRALS CLUB  2017               1   1.0            1
4                   ALI HASAN  2016               1   1.0            1
5         ALL ABOUT THE BREAD  2017               1   1.0            1
6                      AMIGOS  2017               1   1.0            1
7            ANTOJITOS LISETH  2015               1   1.0            1
8                   ANTONIO'S  2015               1   2.0            2
9                   ANTONIO'S  2016               2   1.0            2
10                  ANTONIO'S  2017               2   1.0            2
11                  ANTONIO'S  2018               1   2.0            2
12     AUTENTICO SABOR CASERO  2017               1   1.0            1
13        B SWEET DESSERT BAR  2016               1   1.0            1
14            B.L. RESTAURANT  2016               1   1.0            1

In [42]:
# Import your libraries
import pandas as pd

# Start writing code
df = los_angeles_restaurant_health_inspections
df['year'] = df.activity_date.apply(pd.to_datetime).dt.year
df = df.groupby(['facility_name','year']).size().to_frame('count').reset_index()
df = df.pivot_table(index = 'facility_name', columns = 'year', values= 'count').reset_index()
df = df.fillna(0)
df = df.groupby('facility_name').sum().reset_index()
df[(df[2017]>df[2016]) & (df[2017]>df[2015]) & (df[2017]>df[2018])].facility_name

# df[df.groupby(['facility_name','year'])['count'].rank(method = 'first',ascending = False)==1]
# df[df.year == 2017]['facility_name'].drop_duplicates()

0                 7-ELEVEN #18821-B
1         99 CENTS ONLY STORE #0375
3                     ADMIRALS CLUB
5               ALL ABOUT THE BREAD
6                            AMIGOS
                   ...
211             THE KITCHEN COUNTER
213                       THE TALPA
217             TRIPLE 8 RESTAURANT
222           VINCENTE FOODS-MARKET
223    WA SSADA ON DAL JAPANESE RES
Name: facility_name, Length: 83, dtype: object

In [44]:
# Find the scores of 4 quartiles of each company
# Find the scores of 4 quartiles of each company    
# Output the company name along with the corresponding score of each quartile.
# Order records based on the average score of all quartiles in ascending order.
import pandas as pd
import numpy as np

los_angeles_restaurant_health_inspections['quartile'] = pd.qcut(los_angeles_restaurant_health_inspections['score'], 4,['q1','q2','q3','q4'])
owner_score = pd.pivot_table(los_angeles_restaurant_health_inspections, index=['owner_name'],columns =['quartile'], values=['score'], aggfunc='max')
owner_score.columns = owner_score.columns.droplevel(0)
owner_score.columns.name = None
owner_score.columns= owner_score.columns.astype(str)
owner_score = owner_score.reset_index()
owner_score['mean'] = owner_score.mean(axis = 1,skipna = False) 
result = owner_score.sort_values('mean')[['owner_name','q1','q2','q3','q4']]
result





# with a as 
# (SELECT owner_name, score,NTILE(4) OVER (PARTITION BY owner_name ORDER BY score) AS quartile
# from los_angeles_restaurant_health_inspections) ,
# b as (SELECT owner_name,
#  CASE WHEN quartile = 1 THEN score ELSE NULL END AS q1,
#  CASE WHEN quartile = 2 THEN score ELSE NULL END AS q2,
#  CASE WHEN quartile = 3 THEN score ELSE NULL END AS q3,
#  CASE WHEN quartile = 4 THEN score ELSE NULL END AS q4
#         FROM a)
# select owner_name,max(q1) AS q1,max(q2) AS q2, max(q3) AS q3,max(q4) AS q4
#       from b  
#       GROUP BY owner_name
#       order by 1

                   owner_name    q1    q2    q3     q4
150  OSWALDO A RAMON RENDEROS  72.0  94.0  96.0   97.0
79             GOODWIN TYRONE  74.0  94.0  95.0  100.0
14            AXY ENTERPRISES  80.0  93.0  96.0   97.0
135           MEJIA FRANCISCO  80.0  94.0  96.0   97.0
167              ROUND 3 INC.  81.0  94.0  95.0   97.0
..                        ...   ...   ...   ...    ...
210     YOOTTHANA BAMRUNGKHET   NaN  92.0   NaN    NaN
211   YOSHINOYA AMERICA, INC.   NaN  94.0   NaN    NaN
212                YOUNG YOON   NaN   NaN   NaN   99.0
213                   YRT INC   NaN  94.0   NaN    NaN
214     ZARGOZA, JULIAN ET AL  91.0   NaN   NaN    NaN

[215 rows x 5 columns]

In [53]:
# Find the trendiest street of each year
# Find the trendiest street of each year.    
# Assume trendiest as the one with the highest total score.
# Output the street name along with the year and the total score.
los_angeles_restaurant_health_inspections=pd.read_csv('los_angeles_restaurant_health_inspections.csv')

import pandas as pd
import numpy as np

los_angeles_restaurant_health_inspections['activity_date'] = los_angeles_restaurant_health_inspections['activity_date'].apply(pd.to_datetime)
los_angeles_restaurant_health_inspections['year'] = los_angeles_restaurant_health_inspections['activity_date'].dt.year
los_angeles_restaurant_health_inspections['street_name'] = los_angeles_restaurant_health_inspections['facility_address'].astype(str).str.split().str[3]
print(los_angeles_restaurant_health_inspections.head())
v = pd.DataFrame(los_angeles_restaurant_health_inspections['facility_address'].str.split(' ').tolist()).rename(columns=lambda x: x + 1).add_prefix('street_')
print(v.head())
facilities = pd.concat([los_angeles_restaurant_health_inspections, v], 1)
facilities.loc[(facilities['street_2'].str.len()>= 3), 'street_name'] = facilities['street_2']

facilities.loc[(facilities['street_2'].str.len() < facilities['street_3'].str.len()), 'street_name'] = facilities['street_3']
print(facilities.head())
sum_scores = facilities.groupby(['street_name','year'])['score'].sum().to_frame('total_score').reset_index()
print(sum_scores.head())
sum_scores['position'] = sum_scores.groupby(['year'])['total_score'].rank(method='min', ascending=False)
sum_scores = sum_scores[sum_scores['position'] == 1]
result = sum_scores.sort_values('year')
result

  serial_number activity_date     facility_name  score grade  service_code  \
0     DAQHRSETQ    2017-08-06   MARGARITAS CAFE     93     A             1
1     DA2GQRJOS    2017-07-03    LAS MOLENDERAS     97     A             1
2     DAMQTA46T    2016-03-22  SANDRA'S TAMALES     93     A             1
3     DAXMBTIRZ    2018-12-02    CAFE GRATITUDE     97     A             1
4     DAK8TBMS0    2015-10-09        THE WAFFLE     90     A             1

  service_description employee_id               facility_address  \
0  ROUTINE INSPECTION   EE0000006           5026 S CRENSHAW BLVD
1  ROUTINE INSPECTION   EE0000997             2635 WHITTIER BLVD
2  ROUTINE INSPECTION   EE0001049             5390 WHITTIER BLVD
3  ROUTINE INSPECTION   EE0000828  639 N LARCHMONT BLVD STE #102
4  ROUTINE INSPECTION   EE0000709    6255 W SUNSET BLVD STE #105

  facility_city  ... facility_zip   owner_id                    owner_name  \
0   LOS ANGELES  ...        90043  OW0004133              BAZAN, ASCENCION
1   LOS ANGELES  ...        90023  OW0125379             MARISOL FEREGRINO
2   LOS ANGELES  ...   90022-4032  OW0178828         SANDRA'S TAMALES INC.
3   LOS ANGELES  ...        90004  OW0005704  CAFE GRATITUDE LARCHMONT LLC
4   LOS ANGELES  ...        90028  OW0035796               THE WAFFLE, LLC

                          pe_description program_element_pe      program_name  \
0    RESTAURANT (61-150) SEATS HIGH RISK               1638   MARGARITAS CAFE
1      RESTAURANT (0-30) SEATS HIGH RISK               1632    LAS MOLENDERAS
2  RESTAURANT (0-30) SEATS MODERATE RISK               1631  SANDRA'S TAMALES
3    RESTAURANT (61-150) SEATS HIGH RISK               1638    CAFE GRATITUDE
4    RESTAURANT (61-150) SEATS HIGH RISK               1638        THE WAFFLE

   program_status  record_id  year street_name
0          ACTIVE  PR0011718  2017        BLVD
1        INACTIVE  PR0148504  2017         NaN
2          ACTIVE  PR0164225  2016         NaN
3          ACTIVE  PR0019854  2018        BLVD
4          ACTIVE  PR0010922  2015        BLVD

[5 rows x 22 columns]
  street_1  street_2   street_3 street_4 street_5 street_6 street_7
0     5026         S   CRENSHAW     BLVD     None     None     None
1     2635  WHITTIER       BLVD     None     None     None     None
2     5390  WHITTIER       BLVD     None     None     None     None
3      639         N  LARCHMONT     BLVD      STE     #102     None
4     6255         W     SUNSET     BLVD      STE     #105     None
  serial_number activity_date     facility_name  score grade  service_code  \
0     DAQHRSETQ    2017-08-06   MARGARITAS CAFE     93     A             1
1     DA2GQRJOS    2017-07-03    LAS MOLENDERAS     97     A             1
2     DAMQTA46T    2016-03-22  SANDRA'S TAMALES     93     A             1
3     DAXMBTIRZ    2018-12-02    CAFE GRATITUDE     97     A             1
4     DAK8TBMS0    2015-10-09        THE WAFFLE     90     A             1

  service_description employee_id               facility_address  \
0  ROUTINE INSPECTION   EE0000006           5026 S CRENSHAW BLVD
1  ROUTINE INSPECTION   EE0000997             2635 WHITTIER BLVD
2  ROUTINE INSPECTION   EE0001049             5390 WHITTIER BLVD
3  ROUTINE INSPECTION   EE0000828  639 N LARCHMONT BLVD STE #102
4  ROUTINE INSPECTION   EE0000709    6255 W SUNSET BLVD STE #105

  facility_city  ...  record_id  year street_name street_1  street_2  \
0   LOS ANGELES  ...  PR0011718  2017    CRENSHAW     5026         S
1   LOS ANGELES  ...  PR0148504  2017    WHITTIER     2635  WHITTIER
2   LOS ANGELES  ...  PR0164225  2016    WHITTIER     5390  WHITTIER
3   LOS ANGELES  ...  PR0019854  2018   LARCHMONT      639         N
4   LOS ANGELES  ...  PR0010922  2015      SUNSET     6255         W

    street_3  street_4 street_5 street_6 street_7
0   CRENSHAW      BLVD     None     None     None
1       BLVD      None     None     None     None
2       BLVD      None     None     None     None
3  LARCHMONT      BLVD      STE     #102     None
4     SUNSET      BLVD      STE     #105     None

[5 rows x 29 columns]
  street_name  year  total_score
0         1/4  2016           96
1       103RD  2016           95
2         1ST  2016           94
3         1ST  2018           97
4         2ND  2016           90

    street_name  year  total_score  position
162       WORLD  2015          377       1.0
121        PICO  2016          548       1.0
122        PICO  2017          769       1.0
165       WORLD  2018          434       1.0

In [57]:
# Most Popular Streets
# Find the most popular street for low, moderate, and high-risk categories based on the number of incidents per each category. 
# Output the street name along with the popularity and the corresponding risk category.

los_angeles_restaurant_health_inspections=pd.read_csv('los_angeles_restaurant_health_inspections.csv')
import pandas as pd
import numpy as np

pe_des = los_angeles_restaurant_health_inspections['pe_description']

conditions = [pe_des.str.contains('LOW', case=False), pe_des.str.contains('MODERATE', case=False), pe_des.str.contains('HIGH', case=False)]
choice_list = ['Low Risk', 'Moderate Risk', 'High Risk']
los_angeles_restaurant_health_inspections['risk_level'] = np.select(conditions, choice_list)
print(los_angeles_restaurant_health_inspections.head())

los_angeles_restaurant_health_inspections['street_name'] = los_angeles_restaurant_health_inspections['facility_address'].apply(lambda x: x.split(' ')[1] if len(x.split(' ')[1]) >= 3 else x.split(' ')[2] if len(x.split(' ')[2]) >= 3 else x.split(' ')[1])

df = los_angeles_restaurant_health_inspections.groupby(['street_name', 'risk_level']).size().to_frame('popularity').reset_index()

df['rank'] = df.groupby(['risk_level'])['popularity'].rank(ascending=False, method='dense')

result = df.sort_values(by='risk_level').sort_values(by='popularity', ascending=False)
result[['street_name','risk_level','popularity']][result['rank'] == 1]




# with temp as(
# select 
#     case when length(split_part(facility_address, ' ',2))>=3 then split_part(facility_address, ' ',2)
#     when length(split_part(facility_address, ' ',3))>=3 then split_part(facility_address, ' ',3)
#     else split_part(facility_address, ' ',4) 
#     end as street_name,
    
#     case 
#         when pe_description ilike '%HIGH%' then 'High Risk'
#         when pe_description ilike '%MODERATE%' then 'Moderate Risk'
#         when pe_description ilike '%low%' then 'Low Risk'
#         else null
#         end as risk_category,
#         count(*) as polularity
# from los_angeles_restaurant_health_inspections
# group by 1,2
# order by 2,3 desc),
# temp2 as (
# select street_name, risk_category, polularity, 
# dense_rank() over (partition by risk_category order by polularity desc) as pop_rank
# from temp)

# select street_name,risk_category,polularity
# from temp2
# where pop_rank=1

  serial_number    activity_date     facility_name  score grade  service_code  \
0     DAQHRSETQ  08-06-2017 0:00   MARGARITAS CAFE     93     A             1
1     DA2GQRJOS  07-03-2017 0:00    LAS MOLENDERAS     97     A             1
2     DAMQTA46T  22-03-2016 0:00  SANDRA'S TAMALES     93     A             1
3     DAXMBTIRZ  12-02-2018 0:00    CAFE GRATITUDE     97     A             1
4     DAK8TBMS0  10-09-2015 0:00        THE WAFFLE     90     A             1

  service_description employee_id               facility_address  \
0  ROUTINE INSPECTION   EE0000006           5026 S CRENSHAW BLVD
1  ROUTINE INSPECTION   EE0000997             2635 WHITTIER BLVD
2  ROUTINE INSPECTION   EE0001049             5390 WHITTIER BLVD
3  ROUTINE INSPECTION   EE0000828  639 N LARCHMONT BLVD STE #102
4  ROUTINE INSPECTION   EE0000709    6255 W SUNSET BLVD STE #105

  facility_city  ... facility_state facility_zip   owner_id  \
0   LOS ANGELES  ...             CA        90043  OW0004133
1   LOS ANGELES  ...             CA        90023  OW0125379
2   LOS ANGELES  ...             CA   90022-4032  OW0178828
3   LOS ANGELES  ...             CA        90004  OW0005704
4   LOS ANGELES  ...             CA        90028  OW0035796

                     owner_name                         pe_description  \
0              BAZAN, ASCENCION    RESTAURANT (61-150) SEATS HIGH RISK
1             MARISOL FEREGRINO      RESTAURANT (0-30) SEATS HIGH RISK
2         SANDRA'S TAMALES INC.  RESTAURANT (0-30) SEATS MODERATE RISK
3  CAFE GRATITUDE LARCHMONT LLC    RESTAURANT (61-150) SEATS HIGH RISK
4               THE WAFFLE, LLC    RESTAURANT (61-150) SEATS HIGH RISK

  program_element_pe      program_name program_status  record_id  \
0               1638   MARGARITAS CAFE         ACTIVE  PR0011718
1               1632    LAS MOLENDERAS       INACTIVE  PR0148504
2               1631  SANDRA'S TAMALES         ACTIVE  PR0164225
3               1638    CAFE GRATITUDE         ACTIVE  PR0019854
4               1638        THE WAFFLE         ACTIVE  PR0010922

      risk_level
0      High Risk
1      High Risk
2  Moderate Risk
3      High Risk
4      High Risk

[5 rows x 21 columns]

    street_name     risk_level  popularity
101        PICO      High Risk          15
110    SAWTELLE  Moderate Risk           7
115      SUNSET  Moderate Risk           7
142       WORLD       Low Risk           4
25      BEVERLY       Low Risk           4

In [59]:
# Dates Of Inspection
# Find the latest inspection date for the most sanitary restaurants.
# Assume the highest number of points is the most sanitary. 
# Only businesses with 'restaurants' in the name should be considered in your analysis.
# Output the corresponding facility name, inspection score, latest inspection date, previous inspection date, and the difference between the latest and previous inspection dates. 
# And order the records based on the latest inspection date in ascending order.
los_angeles_restaurant_health_inspections=pd.read_csv('los_angeles_restaurant_health_inspections.csv')



import pandas as pd
import numpy as np
import datetime

df = los_angeles_restaurant_health_inspections

df['activity_date'] = df['activity_date'].apply(pd.to_datetime)
restaurant = df[(df['facility_name'].str.contains('RESTAURANT')) & (df['score'] == df['score'].max())]
sort_df = restaurant.sort_values(['facility_name', 'activity_date'])
sort_df.loc[:, ('prev_activity_date')] = sort_df.groupby( 'facility_name')['activity_date'].shift(1)
sort_df.loc[:, ('number_of_days_between_high_scoring_inspections')] = ( sort_df['activity_date'] - sort_df['prev_activity_date']).dt.days
result = sort_df[['facility_name', 'score', 'activity_date', 'prev_activity_date', 'number_of_days_between_high_scoring_inspections']]
result 









#   with a as
# (  select     FACILITY_NAME,    SCORE,    ACTIVITY_DATE,
#  LAG(ACTIVITY_DATE, 1) OVER(PARTITION BY FACILITY_NAME ORDER BY ACTIVITY_DATE) AS PREV_ACTIVITY_DATE
#     from los_angeles_restaurant_health_inspections
#     where facility_name ilike '%RESTAURANT%')
# , b as                            
# ( SELECT FACILITY_NAME, SCORE, MIN(ACTIVITY_DATE) AS ACTIVITY_DATE,
# PREV_ACTIVITY_DATE
# FROM a
# GROUP BY 1,2,4
# )
#  select
# * 
# from a
# WHERE SCORE = 100
# ORDER BY ACTIVITY_DATE

,facility_name,score,activity_date,prev_activity_date,number_of_days_between_high_scoring_inspections
232,B.L. RESTAURANT,100,2016-01-12,NaT,NaN
229,CANCUN RESTAURANT,100,2017-01-02,NaT,NaN
242,D'LIDO RESTAURANT AND BAKERY,100,2016-03-02,NaT,NaN
226,DENNY'S RESTAURANT #7757,100,2017-05-26,NaT,NaN
244,EARLES RESTAURANT,100,2018-03-16,NaT,NaN
228,ELYSIAN RESTAURANT,100,2017-05-05,NaT,NaN
233,LA FUENTE RESTAURANT,100,2016-03-11,NaT,NaN
243,LEONARDO'S RESTAURANT,100,2015-11-09,NaT,NaN
240,LEONARDO'S RESTAURANT,100,2016-04-03,2015-11-09,146.0
235,LEONARDO'S RESTAURANT,100,2016-09-16,2016-04-03,166.0
234,LOS ARCOS RESTAURANT,100,2016-02-11,NaT,NaN
239,LOS ARCOS RESTAURANT,100,2016-05-23,2016-02-11,102.0
225,LOS POBLANOS RESTAURANTE,100,2017-11-10,NaT,NaN
231,NENA RESTAURANT,100,2016-11-12,NaT,NaN
237,PANDA CHINESE RESTAURANT,100,2016-02-08,NaT,NaN
241,PANDA CHINESE RESTAURANT,100,2016-02-25,2016-02-08,17.0
230,PANDA CHINESE RESTAURANT,100,2016-12-14,2016-02-25,293.0
227,PANDA CHINESE RESTAURANT,100,2017-05-17,2016-12-14,154.0
238,SAKURA RESTAURANT WAREHOUSE,100,2016-06-21,NaT,NaN
224,SAKURA RESTAURANT WAREHOUSE,100,2017-11-30,2016-06-21,527.0
236,TEXIS RESTAURANT AND ENTERTAINMENT,100,2016-08-26,NaT,NaN