In [2]:
import pandas as pd

In [4]:
x=pd.read_csv('twitter.csv')
x
print(x.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              30 non-null     int64
 1   first_name      30 non-null     object
 2   last_name       30 non-null     object
 3   age             30 non-null     int64
 4   sex             30 non-null     object
 5   employee_title  30 non-null     object
 6   department      30 non-null     object
 7   salary          30 non-null     int64
 8   target          30 non-null     int64
 9   bonus           30 non-null     int64
 10  email           30 non-null     object
 11  city            30 non-null     object
 12  address         21 non-null     object
 13  manager_id      30 non-null     int64
dtypes: int64(6), object(8)
memory usage: 3.4+ KB
None

In [5]:
# Median Salary
# Find the median employee salary of each department.
# Output the department name along with the corresponding salary rounded to the nearest whole dollar.
import pandas as pd

# Start writing code
employee=x 
salary = employee[employee['salary'] != 0]
result = salary.groupby(['department'])['salary'].median().reset_index()
result

   department  salary
0       Audit    1000
1  Management  175000
2       Sales    1300

In [6]:
# Unique Salaries
# Find the top three unique salaries for each department. 
# Output the department name and the top 3 unique salaries by each department.
# Order your results alphabetically by department and then by highest salary to lowest.
# Import your libraries
import pandas as pd
x=pd.read_csv('twitter.csv')

# Start writing code
print(x.info())
df= x[['department','salary']].drop_duplicates() 
top3 = df.groupby('department')['salary'].nlargest(3).reset_index()

result = top3[['department','salary']]
result

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              30 non-null     int64
 1   first_name      30 non-null     object
 2   last_name       30 non-null     object
 3   age             30 non-null     int64
 4   sex             30 non-null     object
 5   employee_title  30 non-null     object
 6   department      30 non-null     object
 7   salary          30 non-null     int64
 8   target          30 non-null     int64
 9   bonus           30 non-null     int64
 10  email           30 non-null     object
 11  city            30 non-null     object
 12  address         21 non-null     object
 13  manager_id      30 non-null     int64
dtypes: int64(6), object(8)
memory usage: 3.4+ KB
None

   department  salary
0       Audit    1100
1       Audit    1000
2       Audit     700
3  Management  250000
4  Management  200000
5  Management  150000
6       Sales    2200
7       Sales    2000
8       Sales    1500